# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
node_modules/
tmp/
temp/
platforms/
udagram-api/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/
postgres_dev/
logfile
set_env.sh

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
node_modules
venv/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
set_env.sh
CODEOWNERS Classroom_Project_Instructions LICENSE.txt README.md aws-secret.yaml backend-feed-deployment.yaml backend-feed-service.yaml backend-user-deployment.yaml backend-user-service.yaml docker-compose-build.yaml docker-compose.yaml env-configmap.yaml env-secret.yaml frontend-deployment.yaml frontend-service.yaml reverseproxy-deployment.yaml reverseproxy-service.yaml screenshots set_env.sh udagram-api-feed udagram-api-user udagram-api.postman_collection.json udagram-frontend udagram-reverseproxy aws-secret.yaml
aws-secret.yaml
env-secret.yaml
env-configmap.yaml
